on:
  pull_request:
    paths:
      - 'src/**'

name: Validate Code
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}/src
    steps:
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: '1.24.1'
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Golang CI
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
      with:
        working-directory: src
    - name: Fieldalignment
      run: |
        go install golang.org/x/tools/go/analysis/passes/fieldalignment/cmd/fieldalignment@latest
        fieldalignment "./..."
    - name: Unit Tests
      run: go test -v ./...
